<header class="project-header"> 
  <h1>New Project</h1>
  <div class="project-links">
    <%= link_to "Back to projects", projects_path, class: "btn btn-primary m-2"%>
  </div>
</header>

<%= render "form", project: @project %>

